application/vendor/
application/node_modules/
application/npm-debug.log

# Laravel 4 specific
application/bootstrap/compiled.php
application/app/storage/

# Laravel 5 & Lumen specific
application/public/storage
application/public/hot
application/storage/*.key
application/.env.*.php
application/.env.php
application/.env
application/Homestead.yaml
application/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
application/.rocketeer/
